<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/public/img/insta-1.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"> palkia_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/public/img/insta-2.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"> palkia_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/public/img/insta-3.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"> palkia_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/public/img/insta-4.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"> palkia_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/public/img/insta-5.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"> palkia_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/public/img/insta-6.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"> palkia_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html">
                            <img src="~/public/img/logo.jpg" />
                        </a>
                    </div>
                    <p>
                        Palkia Shop ensures peace of mind . Shopping - Reputation - Quality.
                    </p>
                    <div class="footer__payment">
                        <a href="#"><img src="#" alt=""></a>
                        <a href="#"><img src="#" alt=""></a>
                        <a href="#"><img src="#" alt=""></a>
                        <a href="#"><img src="#" alt=""></a>
                        <a href="#"><img src="#" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="~/home">Home</a></li>
                        <li><a href="~/blogs">Blogs</a></li>
                        <li><a href="~/contact">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="~/userprofile">My Account</a></li>
                        <li><a href="~/cart">Cart</a></li>
                        <li><a href="~/cart/checkout">Checkout</a></li>
                        <li><a href="~/userprofile/MyOrder">My Order</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        @using (Html.BeginForm("Search", "Shop", FormMethod.Post, htmlAttributes: new { @class = "search-model-form" }))
        {
             <input type="text" name="txtSearch" id="search-input" placeholder="Search here.....">
        }
    </div>
</div>
