@{
    ViewBag.Title = "Home Page";
    TempData["HomeActive"] = "active";
}

<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                @{
                    foreach (var item in ViewBag.One_New_Category)
                    {
                        <div class="categories__item categories__large__item set-bg"
                             data-setbg="@Url.Content(@item.Picture)">
                            <div class="categories__text">
                                <h1>@item.CategoryName</h1>
                                <p>
                                    @item.Description
                                </p>
                                <a href="category-@item.CategoryID">Shop now</a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @{
                        foreach (var item in ViewBag.Four_Categories)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                                <div class="categories__item set-bg" data-setbg="@Url.Content(@item.Picture)">
                                    <div class="categories__text">
                                        <h3 style="font-weight:bold">@item.CategoryName</h3>
                                        <br />
                                        <a href="category-@item.CategoryID">Shop now</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    @{
                        foreach (var item in ViewBag.Five_Category_For_Filter)
                        {
                            <li data-filter=".@item.CategoryName">@item.CategoryName</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            @{
                foreach (var item in ViewBag.Eight_New_Product)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix @item.CategoryName">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@Url.Content(item.Thumbnail)">
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a href="@Url.Content(item.Thumbnail)" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="~/add-to-cart?productID=@item.ProductID&quantity=1"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h5><a href="~/product-@item.ProductID" style="color:black">@item.ProductName</a></h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">
                                <script>document.write((@item.UnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3));</script> VND</div>
                                <div style="text-decoration: line-through; font-size:small">
                                    <script>document.write((@item.OldUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3));</script>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<section class="banner set-bg" data-setbg="@Url.Content("~/public/img/hotdeal.png")">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    @{
                        foreach (var item in ViewBag.Sale)
                        {
                            <div class="banner__item">
                                <div class="banner__text">
                                    <span>@item.Code</span>
                                    <h1>@item.SaleName</h1>
                                    <a href="#">Shop now</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4 id="saleForYou">Sale</h4>
                    </div>
                    @{
                        foreach (var item in ViewBag.Sale_Product)
                        {
                            <div class="trend__item">
                                <div class="trend__item__pic">
                                    <img src="@Url.Content(item.Thumbnail)" alt="" style="max-width:100px">
                                </div>
                                <div class="trend__item__text">
                                    <h6><a href="~/product-@item.ProductID" style="color:black">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h6><a href="#" style="color:black;">@item.CategoryName</a></h6>
                                    <div class="product__price">
                                    <script>document.write((@item.OldUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3));</script> VND</div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Best seller</h4>
                    </div>
                    @{
                        foreach (var item in ViewBag.Best_Seller)
                        {
                            <div class="trend__item">
                                <div class="trend__item__pic">
                                    <img src="@Url.Content(item.Thumbnail)" alt="" style="max-width:100px">
                                </div>
                                <div class="trend__item__text">
                                    <h6><a href="~/product-@item.ProductID" style="color:black">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h6><a href="#" style="color:black;">@item.CategoryName</a></h6>
                                    <div class="product__price">
                                    <script>document.write((@item.OldUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3));</script> VND</div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Highlight</h4>
                    </div>
                    @{
                        foreach (var item in ViewBag.Highlight_Product)
                        {
                            <div class="trend__item">
                                <div class="trend__item__pic">
                                    <img src="@Url.Content(item.Thumbnail)" alt="" style="max-width:100px">
                                </div>
                                <div class="trend__item__text">
                                    <h6><a href="~/product-@item.ProductID" style="color:black">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h6><a href="#" style="color:black;">@item.CategoryName</a></h6>
                                    <div class="product__price">
                                        <script>document.write((@item.OldUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3));</script> VND
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="discount">
    <div class="container">
        <div class="row">
            @{
                foreach (var item in ViewBag.Discount)
                {
                    <div class="col-lg-6 p-0">
                        <div class="discount__pic">
                            <img src="@Url.Content(item.Picture)" alt="" width="585" height="390">
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="discount__text">
                            <div class="discount__text__title">
                                <span>Promotion</span>
                                <h2>@item.SaleName</h2>
                                <h5>
                                    <span>DISCOUNT</span>
                                    <script>document.write((@item.Discount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3));</script> VND
                                </h5>
                            </div>
                            <div class="course-countdown">
                                <ul id="countdown">
                                   
                                </ul>
                               
                            </div>
                            <script>
                                var end = new Date('@item.EndDate');
                                var _second = 1000;
                                var _minute = _second * 60;
                                var _hour = _minute * 60;
                                var _day = _hour * 24;
                                var timer;

                                function showRemaining() {
                                    var now = new Date();
                                    var distance = end - now;
                                    if (distance < 0) {

                                        clearInterval(timer);
                                        document.getElementById('countdown').innerHTML = '<li>EXPIRED!</li>';

                                        return;
                                    }
                                    var days = Math.floor(distance / _day);
                                    var hours = Math.floor((distance % _day) / _hour);
                                    var minutes = Math.floor((distance % _hour) / _minute);
                                    var seconds = Math.floor((distance % _minute) / _second);

                                    document.getElementById('countdown').innerHTML = '<li> <h3 style="font-weight: bold">' + days + '</h3>Day </li> ';
                                    document.getElementById('countdown').innerHTML += '<li> <h3 style="font-weight: bold">' + hours + '</h3>Hour </li>';
                                    document.getElementById('countdown').innerHTML += '<li> <h3 style="font-weight: bold">' + minutes + '</h3>Min </li>';
                                    document.getElementById('countdown').innerHTML += '<li> <h3 style="font-weight: bold">' + seconds + '</h3>Sec </li>';
                                }

                                timer = setInterval(showRemaining, 1000);
                            </script>

                            <style>
                                .course-countdown {
                                    position: relative;
                                }

                                    .course-countdown ul {
                                        list-style-type: none;
                                        display: flex;
                                        justify-content: space-between;
                                        margin: 20px 35px;
                                    }
                            </style> 
                            <a href="#saleForYou">Shop now</a>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
