<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palkia | Admin </title>
    <link rel="icon" href="~/public/img/logo-in-title.png" type="image/x-icon">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link href="~/Scripts/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Scripts/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Scripts/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/dropzone/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/bs-stepper/css/bs-stepper.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/dropzone/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        @Html.Partial("NavBar")

        @Html.Partial("Aside")

        @RenderBody()


        <aside class="control-sidebar control-sidebar-dark">
        </aside>

        @Html.Partial("Footer")
    </div>

    <!-- REQUIRED SCRIPTS -->
    <script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Scripts/dist/js/adminlte.js"></script>
    <script src="~/Scripts/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Scripts/plugins/raphael/raphael.min.js"></script>
    <script src="~/Scripts/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/Scripts/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="~/Scripts/dist/js/demo.js"></script>
    <script src="~/Scripts/dist/js/pages/dashboard2.js"></script>
    <script src="~/Scripts/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Scripts/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        // File input
        $(function () {
            bsCustomFileInput.init();
        });
        // Active Slidebar
        $(function () {
            var href = window.location.href;
            $('nav ul li a').each(function (e, i) {
                if (href.indexOf($(this).attr('href')) >= 0) {
                    $(this).addClass('active');
                }
            });
        });

    </script>

    @{
        if (TempData["Notice_Delete_Success"] != null)
        {
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Deleted successfully!',
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }

        if (TempData["Notice_Delete_Fail"] != null)
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Data is being managed. You cannot delete it!',
                })
            </script>
        }

        if (TempData["Notice_Save_Success"] != null)
        {
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your work has been saved!',
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
        if (TempData["Notice_Create_Success"] != null)
        {
        <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Created successfully!',
                showConfirmButton: false,
                timer: 1500
            });
        </script>
        }

        if (TempData["Notice_Submit_Success"] != null)
        {
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Submitted successfully!',
                    showConfirmButton: false,
                    timer: 20000
                });
            </script>
        }

        if (TempData["Notice_Login_Success"] != null)
        {
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    onOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Signed in successfully'
                })
            </script>
        }

    }

    @RenderSection("ScriptConfig", false)

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>
